body {
	background-color: yellow;
	margin: 0;
	padding: 0;
}

* {
	margin: 0;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	color: blue;
}

img {
	display: block;
}

.img1 {
	float: left;
}

.img2 {
	float: right;
}

.img3 {
	clear: both;
	float: left;
	margin-top: 25px;
}

.img4 {
	float: right;
	margin-top: 25px;
}